.mainBody {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#mainLogo {
  width: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-size: 20;
  font-weight: normal;
}
